In [1]:
import numpy as np
import pandas as pd
ourdata=pd.read_csv('MHsurvey_all.csv')
import matplotlib.pyplot as plt 
#ourdata.head()

var	meaning
state	 If you live in the United States, which state or territory do you live in?


self_employed	 Are you self-employed?


family_history	 Do you have a family history of mental illness?


treatment	 Have you sought treatment for a mental health condition?


work_interfere	 If you have a mental health condition, do you feel that it interferes with your work?


no_employees	 How many employees does your company or organization have?


remote_work	 Do you work remotely (outside of an office) at least 50% of the time?


tech_company	 Is your employer primarily a tech company/organization?


benefits	 Does your employer provide mental health benefits?


care_options	 Do you know the options for mental health care your employer provides?


wellness_program	 Has your employer ever discussed mental health as part of an employee wellness program?


seek_help	 Does your employer provide resources to learn more about mental health issues and how to seek help?


anonymity	 Is your anonymity protected if you choose to take advantage of mental health or substance abuse 
treatment resources?


leave	 How easy is it for you to take medical leave for a mental health condition?
mental_health_consequence	 Do you think that discussing a mental health issue with your employer would have negative consequences?


phys_health_consequence	 Do you think that discussing a physical health issue with your employer would have negative consequences?


coworkers	 Would you be willing to discuss a mental health issue with your coworkers?


supervisor	 Would you be willing to discuss a mental health issue with your direct supervisor(s)?


mental_health_interview	 Would you bring up a mental health issue with a potential employer in an interview?


phys_health_interview	 Would you bring up a physical health issue with a potential employer in an interview?


mental_vs_physical	 Do you feel that your employer takes mental health as seriously as physical health?


obs_consequence	 Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?


comments	 Any additional notes or comments


work_interfere_treated	If you have a mental health issue, do you feel that it interferes with your work when being treated effectively?


work_interfere_not_treated	If you have a mental health issue, do you feel that it interferes with your work when NOT being treated effectively?

In [2]:
ourdata.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
women_in_tech = ourdata[['Age',  'Country', 
                         'tech_company', 'benefits','mental_health_interview',
                         'phys_health_interview','treatment','work_interfere','Gender','leave',
                        'mental_health_consequence','phys_health_consequence','remote_work','care_options']]

In [4]:
women_in_tech.head()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
0,37,United States,Yes,Yes,No,Maybe,Yes,Often,Female,Somewhat easy,No,No,No,Not sure
1,44,United States,No,Don't know,No,No,No,Rarely,M,Don't know,Maybe,No,No,No
2,32,Canada,Yes,No,Yes,Yes,No,Rarely,Male,Somewhat difficult,No,No,No,No
3,31,United Kingdom,Yes,No,Maybe,Maybe,Yes,Often,Male,Somewhat difficult,Yes,Yes,No,Yes
4,31,United States,Yes,Yes,Yes,Yes,No,Never,Male,Don't know,No,No,Yes,No

In [5]:
women_in_tech.groupby('Country').count()

,Age,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
Country,,,,,,,,,,,,,
Australia,21,21,21,21,21,21,20,21,21,21,21,21,21
Austria,3,3,3,3,3,3,1,3,3,3,3,3,3
"Bahamas, The",1,1,1,1,1,1,1,1,1,1,1,1,1
Belgium,6,6,6,6,6,6,4,6,6,6,6,6,6
Bosnia and Herzegovina,1,1,1,1,1,1,1,1,1,1,1,1,1
Brazil,6,6,6,6,6,6,4,6,6,6,6,6,6
Bulgaria,4,4,4,4,4,4,3,4,4,4,4,4,4
Canada,72,72,72,72,72,72,63,72,72,72,72,72,72
China,1,1,1,1,1,1,1,1,1,1,1,1,1
Colombia,2,2,2,2,2,2,2,2,2,2,2,2,2
Costa Rica,1,1,1,1,1,1,0,1,1,1,1,1,1
Croatia,2,2,2,2,2,2,2,2,2,2,2,2,2
Czech Republic,1,1,1,1,1,1,1,1,1,1,1,1,1
Denmark,2,2,2,2,2,2,2,2,2,2,2,2,2
Finland,3,3,3,3,3,3,2,3,3,3,3,3,3
France,13,13,13,13,13,13,4,13,13,13,13,13,13
Georgia,1,1,1,1,1,1,1,1,1,1,1,1,1
Germany,45,45,45,45,45,45,33,45,45,45,45,45,45
Greece,2,2,2,2,2,2,0,2,2,2,2,2,2
Hungary,1,1,1,1,1,1,1,1,1,1,1,1,1
India,10,10,10,10,10,10,5,10,10,10,10,10,10
Ireland,27,27,27,27,27,27,23,27,27,27,27,27,27
Israel,5,5,5,5,5,5,3,5,5,5,5,5,5
Italy,7,7,7,7,7,7,6,7,7,7,7,7,7
Japan,1,1,1,1,1,1,1,1,1,1,1,1,1
Latvia,1,1,1,1,1,1,0,1,1,1,1,1,1
Mexico,3,3,3,3,3,3,2,3,3,3,3,3,3
Moldova,1,1,1,1,1,1,1,1,1,1,1,1,1
Netherlands,27,27,27,27,27,27,19,27,27,27,27,27,27
New Zealand,8,8,8,8,8,8,8,8,8,8,8,8,8
Nigeria,1,1,1,1,1,1,0,1,1,1,1,1,1
Norway,1,1,1,1,1,1,0,1,1,1,1,1,1
Philippines,1,1,1,1,1,1,1,1,1,1,1,1,1
Poland,7,7,7,7,7,7,7,7,7,7,7,7,7
Portugal,2,2,2,2,2,2,1,2,2,2,2,2,2
Romania,1,1,1,1,1,1,0,1,1,1,1,1,1
Russia,3,3,3,3,3,3,2,3,3,3,3,3,3
Singapore,4,4,4,4,4,4,4,4,4,4,4,4,4
Slovenia,1,1,1,1,1,1,1,1,1,1,1,1,1
South Africa,6,6,6,6,6,6,5,6,6,6,6,6,6
Spain,1,1,1,1,1,1,0,1,1,1,1,1,1
Sweden,7,7,7,7,7,7,5,7,7,7,7,7,7
Switzerland,7,7,7,7,7,7,5,7,7,7,7,7,7
Thailand,1,1,1,1,1,1,1,1,1,1,1,1,1
United Kingdom,185,185,185,185,185,185,141,185,185,185,185,185,185
United States,751,751,751,751,751,751,607,751,751,751,751,751,751
Uruguay,1,1,1,1,1,1,0,1,1,1,1,1,1
Zimbabwe,1,1,1,1,1,1,1,1,1,1,1,1,1

In [6]:
women_in_tech.groupby('Gender').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
Gender,,,,,,,,,,,,,
A little about you,1,1,1,1,1,1,1,1,1,1,1,1,1
Agender,1,1,1,1,1,1,1,1,1,1,1,1,1
All,1,1,1,1,1,1,1,1,1,1,1,1,1
Androgyne,1,1,1,1,1,1,1,1,1,1,1,1,1
Cis Female,1,1,1,1,1,1,1,1,1,1,1,1,1
Cis Male,2,2,2,2,2,2,2,2,2,2,2,2,2
Cis Man,1,1,1,1,1,1,1,1,1,1,1,1,1
Enby,1,1,1,1,1,1,1,1,1,1,1,1,1
F,38,38,38,38,38,38,38,31,38,38,38,38,38
Femake,1,1,1,1,1,1,1,0,1,1,1,1,1
Female,121,121,121,121,121,121,121,106,121,121,121,121,121
Female,2,2,2,2,2,2,2,2,2,2,2,2,2
Female (cis),1,1,1,1,1,1,1,1,1,1,1,1,1
Female (trans),2,2,2,2,2,2,2,2,2,2,2,2,2
Genderqueer,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy (-ish) ^_^,1,1,1,1,1,1,1,1,1,1,1,1,1
M,116,116,116,116,116,116,116,87,116,116,116,116,116
Mail,1,1,1,1,1,1,1,1,1,1,1,1,1
Make,4,4,4,4,4,4,4,4,4,4,4,4,4
Mal,1,1,1,1,1,1,1,1,1,1,1,1,1
Male,615,615,615,615,615,615,615,481,615,615,615,615,615
Male,3,3,3,3,3,3,3,3,3,3,3,3,3
Male (CIS),1,1,1,1,1,1,1,0,1,1,1,1,1
Male-ish,1,1,1,1,1,1,1,1,1,1,1,1,1
Malr,1,1,1,1,1,1,1,1,1,1,1,1,1
Man,2,2,2,2,2,2,2,0,2,2,2,2,2
Nah,1,1,1,1,1,1,1,1,1,1,1,1,1
Neuter,1,1,1,1,1,1,1,1,1,1,1,1,1
Trans woman,1,1,1,1,1,1,1,1,1,1,1,1,1
Trans-female,1,1,1,1,1,1,1,1,1,1,1,1,1
Woman,3,3,3,3,3,3,3,1,3,3,3,3,3
cis male,1,1,1,1,1,1,1,1,1,1,1,1,1
cis-female/femme,1,1,1,1,1,1,1,1,1,1,1,1,1
f,15,15,15,15,15,15,15,13,15,15,15,15,15
femail,1,1,1,1,1,1,1,1,1,1,1,1,1
female,62,62,62,62,62,62,62,53,62,62,62,62,62
fluid,1,1,1,1,1,1,1,1,1,1,1,1,1
m,34,34,34,34,34,34,34,23,34,34,34,34,34
maile,1,1,1,1,1,1,1,0,1,1,1,1,1
male,206,206,206,206,206,206,206,157,206,206,206,206,206
male leaning androgynous,1,1,1,1,1,1,1,1,1,1,1,1,1
msle,1,1,1,1,1,1,1,1,1,1,1,1,1
non-binary,1,1,1,1,1,1,1,1,1,1,1,1,1
"ostensibly male, unsure what that really means",1,1,1,1,1,1,1,1,1,1,1,1,1
p,1,1,1,1,1,1,1,1,1,1,1,1,1
queer,1,1,1,1,1,1,1,1,1,1,1,1,1
queer/she/they,1,1,1,1,1,1,1,1,1,1,1,1,1
something kinda male?,1,1,1,1,1,1,1,0,1,1,1,1,1
woman,1,1,1,1,1,1,1,1,1,1,1,1,1

In [7]:
women_in_tech['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [9]:
male_labels = ['M','Male','male','Male-ish','maile','m','Male (CIS)','Make','Man','msle','Mail','cis male',
               'Male-ish','something kinda male?', 'Cis Male', 'Mal', 'non-binary', 'Nah', 'All', 'fluid', 'Androgyne',
              'Guy (-ish) ^_^', 'male leaning androgynous', 'Male ', 'Man', 'ostensibly male, unsure what that really means',
              ]
female_labels = ['Female','female','Trans-female','Cis Female','F','f','queer/she/they','non-binary','Femake','woman'
                 ,'cis-female/femme','Trans woman','Female (trans)','Female (cis)','femail','Woman', 'Enby', 'Agender', 
                'Neuter','p', 'Neuter']

In [10]:
type(male_labels)

list

In [11]:
for index, row in women_in_tech.iterrows():
    if row['Gender'] in male_labels:
        women_in_tech.loc[index,'Gender'] = "Male"
    else:
        women_in_tech.loc[index, 'Gender'] = "Female"

C:\Users\KIIT\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
women_in_tech.groupby('Gender').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
Gender,,,,,,,,,,,,,
Female,261,261,261,261,261,261,261,225,261,261,261,261,261
Male,998,998,998,998,998,998,998,770,998,998,998,998,998

In [13]:
import copy
data = copy.deepcopy(women_in_tech)

In [14]:
data.head()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
0,37,United States,Yes,Yes,No,Maybe,Yes,Often,Female,Somewhat easy,No,No,No,Not sure
1,44,United States,No,Don't know,No,No,No,Rarely,Male,Don't know,Maybe,No,No,No
2,32,Canada,Yes,No,Yes,Yes,No,Rarely,Male,Somewhat difficult,No,No,No,No
3,31,United Kingdom,Yes,No,Maybe,Maybe,Yes,Often,Male,Somewhat difficult,Yes,Yes,No,Yes
4,31,United States,Yes,Yes,Yes,Yes,No,Never,Male,Don't know,No,No,Yes,No

In [15]:
data.groupby('tech_company').count()

,Age,Country,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
tech_company,,,,,,,,,,,,,
No,228,228,228,228,228,228,180,228,228,228,228,228,228
Yes,1031,1031,1031,1031,1031,1031,815,1031,1031,1031,1031,1031,1031

In [16]:
data.groupby('benefits').count()

,Age,Country,tech_company,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
benefits,,,,,,,,,,,,,
Don't know,408,408,408,408,408,408,294,408,408,408,408,408,408
No,374,374,374,374,374,374,295,374,374,374,374,374,374
Yes,477,477,477,477,477,477,406,477,477,477,477,477,477

In [17]:
data.groupby('mental_health_interview').count()

,Age,Country,tech_company,benefits,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
mental_health_interview,,,,,,,,,,,,,
Maybe,207,207,207,207,207,207,150,207,207,207,207,207,207
No,1008,1008,1008,1008,1008,1008,810,1008,1008,1008,1008,1008,1008
Yes,44,44,44,44,44,44,35,44,44,44,44,44,44

In [18]:
data.groupby('phys_health_interview').count()

,Age,Country,tech_company,benefits,mental_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
phys_health_interview,,,,,,,,,,,,,
Maybe,557,557,557,557,557,557,445,557,557,557,557,557,557
No,500,500,500,500,500,500,394,500,500,500,500,500,500
Yes,202,202,202,202,202,202,156,202,202,202,202,202,202

In [19]:
data.groupby('work_interfere').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
work_interfere,,,,,,,,,,,,,
Never,213,213,213,213,213,213,213,213,213,213,213,213,213
Often,144,144,144,144,144,144,144,144,144,144,144,144,144
Rarely,173,173,173,173,173,173,173,173,173,173,173,173,173
Sometimes,465,465,465,465,465,465,465,465,465,465,465,465,465

In [20]:
data.groupby('mental_health_consequence').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,phys_health_consequence,remote_work,care_options
mental_health_consequence,,,,,,,,,,,,,
Maybe,477,477,477,477,477,477,477,381,477,477,477,477,477
No,490,490,490,490,490,490,490,354,490,490,490,490,490
Yes,292,292,292,292,292,292,292,260,292,292,292,292,292

In [21]:
data.groupby('phys_health_consequence').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,remote_work,care_options
phys_health_consequence,,,,,,,,,,,,,
Maybe,273,273,273,273,273,273,273,222,273,273,273,273,273
No,925,925,925,925,925,925,925,715,925,925,925,925,925
Yes,61,61,61,61,61,61,61,58,61,61,61,61,61

In [22]:
data.groupby('leave').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,mental_health_consequence,phys_health_consequence,remote_work,care_options
leave,,,,,,,,,,,,,
Don't know,563,563,563,563,563,563,563,422,563,563,563,563,563
Somewhat difficult,126,126,126,126,126,126,126,112,126,126,126,126,126
Somewhat easy,266,266,266,266,266,266,266,213,266,266,266,266,266
Very difficult,98,98,98,98,98,98,98,91,98,98,98,98,98
Very easy,206,206,206,206,206,206,206,157,206,206,206,206,206

In [23]:
data.groupby('treatment').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
treatment,,,,,,,,,,,,,
No,622,622,622,622,622,622,362,622,622,622,622,622,622
Yes,637,637,637,637,637,637,633,637,637,637,637,637,637

In [24]:
data.groupby('remote_work').count()

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,care_options
remote_work,,,,,,,,,,,,,
No,883,883,883,883,883,883,883,691,883,883,883,883,883
Yes,376,376,376,376,376,376,376,304,376,376,376,376,376

In [25]:
data[(data['treatment']=='No')&(data['work_interfere']=='Often')]
#len(data[(data['remote_work']=='Yes')&(data['treatment']=='No')])

,Age,Country,tech_company,benefits,mental_health_interview,phys_health_interview,treatment,work_interfere,Gender,leave,mental_health_consequence,phys_health_consequence,remote_work,care_options
43,18,Netherlands,Yes,No,No,No,No,Often,Male,Somewhat difficult,Yes,Maybe,No,Not sure
116,21,United Kingdom,No,No,No,Maybe,No,Often,Male,Very difficult,Yes,No,Yes,Yes
123,36,United States,Yes,Yes,No,No,No,Often,Male,Don't know,Maybe,No,No,No
157,26,United States,No,Don't know,No,Maybe,No,Often,Male,Don't know,Yes,Maybe,No,Not sure
255,29,Canada,Yes,No,No,Maybe,No,Often,Male,Somewhat difficult,Yes,No,No,No
350,29,Belgium,No,Don't know,Maybe,Maybe,No,Often,Male,Don't know,Maybe,No,No,No
415,30,United States,Yes,Don't know,No,No,No,Often,Male,Somewhat easy,Maybe,No,No,No
445,39,United States,Yes,Yes,No,Maybe,No,Often,Male,Don't know,Yes,No,No,No
549,30,Germany,Yes,No,Maybe,Yes,No,Often,Male,Somewhat easy,Maybe,No,No,No
600,29,United States,Yes,Yes,No,No,No,Often,Male,Don't know,No,No,No,Yes
612,37,United States,No,Don't know,No,No,No,Often,Male,Don't know,Maybe,No,No,No
618,38,Netherlands,Yes,No,Maybe,Maybe,No,Often,Male,Don't know,Maybe,Maybe,Yes,Not sure
649,22,Netherlands,Yes,No,No,Yes,No,Often,Female,Don't know,No,No,No,No
825,48,United States,Yes,Don't know,No,No,No,Often,Female,Very difficult,Yes,Yes,No,No
931,34,United States,Yes,Don't know,No,Maybe,No,Often,Male,Very easy,No,No,No,No
963,24,United Kingdom,Yes,Don't know,No,Maybe,No,Often,Male,Don't know,Maybe,No,Yes,Not sure
987,28,United Kingdom,Yes,No,No,Yes,No,Often,Male,Somewhat difficult,Yes,No,No,No
1109,30,India,Yes,No,Maybe,Maybe,No,Often,Male,Very easy,Maybe,Maybe,No,No
1168,26,Colombia,Yes,No,No,Maybe,No,Often,Male,Very difficult,Yes,No,No,No
1206,34,United Kingdom,No,Don't know,Maybe,Yes,No,Often,Male,Somewhat easy,Maybe,No,Yes,Not sure
1208,33,Czech Republic,Yes,No,Maybe,Maybe,No,Often,Male,Somewhat easy,No,No,No,Yes

In [26]:
len(data[(data['care_options']=='Yes')&(data['treatment']=='Yes')])

307

In [27]:
ourdata.head()
is_female = ourdata['Gender']=='Female' 


ourdata_female = ourdata[is_female]


ourdata_female.size

3146

In [28]:
ourdata_female.describe()

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,121,121,121,80,118,121,121,106,121,121,...,121,121,121,121,121,121,121,121,121,16
unique,25,1,12,22,2,2,2,4,6,2,...,5,3,3,3,3,3,3,3,2,16
top,31,Female,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,...,Don't know,Maybe,No,Some of them,Some of them,No,No,Don't know,No,Our health plan has covered my psychotherapy a...
freq,11,121,82,15,111,73,84,55,32,90,...,54,56,78,78,45,109,63,56,94,1

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
ourdata_female[['Age','mental_health_consequence']]

     Age mental_health_consequence
0     37                        No
6     35                     Maybe
8     42                     Maybe
27    35                        No
45    38                        No
61    26                        No
66    23                        No
68    31                     Maybe
101   44                     Maybe
138   29                     Maybe
144   30                     Maybe
149   29                     Maybe
173   23                     Maybe
174   34                        No
177   32                        No
182   28                        No
189   35                     Maybe
190   38                     Maybe
196   35                     Maybe
200   27                        No
210   40                        No
239   28                        No
256   23                     Maybe
260   27                     Maybe
268   37                     Maybe
286   26                     Maybe
288   38                        No
289   26                     Maybe
295   24                     Maybe
300   23                        No
...   ..                       ...
992   30                        No
997   31                       Yes
1012  24                       Yes
1013  38                        No
1021  30                     Maybe
1033  31                       Yes
1038  34                        No
1045  26                     Maybe
1051  23                       Yes
1059  28                        No
1060  29                        No
1070  39                     Maybe
1077  27                     Maybe
1082  30                       Yes
1089  28                     Maybe
1102  33                       Yes
1103  35                        No
1122  33                     Maybe
1153  34                        No
1164  46                     Maybe
1169  32                     Maybe
1176  26                     Maybe
1182  72                     Maybe
1188  31                     Maybe
1196  35                     Maybe
1201  28                       Yes
1212  34                     Maybe
1227  32                     Maybe
1230  23                        No
1248  41                       Yes

[121 rows x 2 columns]

In [31]:
ourdata_female_curve = ourdata_female[['Age','mental_health_consequence']]
ourdata_female_curve = ourdata_female_curve.replace({'No':0})
ourdata_female_curve = ourdata_female_curve.replace({'Yes':1})
ourdata_female_curve = ourdata_female_curve.replace({'Maybe':1})

In [32]:
ourdata_female_curve.reset_index(inplace=True, drop =True)
ourdata_female_curve.head()

  Age  mental_health_consequence
0  37                          0
1  35                          1
2  42                          1
3  35                          0
4  38                          0

In [33]:
X= ourdata_female_curve['Age'].values
y = ourdata_female_curve['mental_health_consequence'].values

In [34]:
X

array(['37', '35', '42', '35', '38', '26', '23', '31', '44', '29', '30',
       '29', '23', '34', '32', '28', '35', '38', '35', '27', '40', '28',
       '23', '27', '37', '26', '38', '26', '24', '23', '22', '30', '25',
       '25', '33', '31', '28', '26', '24', '26', '39', '18', '28', '24',
       '23', '35', '33', '38', '41', '31', '27', '22', '31', '27', '32',
       '27', '26', '40', '24', '31', '31', '28', '24', '29', '22', '34',
       '29', '21', '23', '28', '29', '37', '27', '33', '27', '31', '35',
       '22', '32', '30', '39', '40', '31', '32', '23', '24', '25', '35',
       '26', '37', '39', '30', '31', '24', '38', '30', '31', '34', '26',
       '23', '28', '29', '39', '27', '30', '28', '33', '35', '33', '34',
       '46', '32', '26', '72', '31', '35', '28', '34', '32', '23', '41'],
      dtype=object)

In [35]:
ourdata_female_curve.shape

(121, 2)

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [38]:
X_train = X_train.reshape(-1,1)

In [39]:
y_train

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1], dtype=int64)

In [40]:
clf = LogisticRegression(random_state=0, solver='lbfgs').fit(X_train, y_train)
clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [41]:
X_test = X_test.reshape(-1,1)

In [42]:
clf.score(X_train, y_train)

0.6666666666666666

In [43]:
clf.predict(X_test)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [44]:
y_test

array([1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0], dtype=int64)